<?xml version="1.0" encoding="utf-8"?>
<!-- package name must be unique so suffix with "tests" so package loader doesn't ignore us -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.android.bluetooth.tests"
          android:sharedUserId="android.uid.bluetooth">

    <!-- Note: do not add any privileged or signature permissions that are granted
         to the network stack and its shared uid apps. Otherwise, the test APK will
         install, but when the device is rebooted, it will bootloop because this
         test APK is not in the privileged permission allow list -->

    <!-- We add an application tag here just so that we can indicate that
         this package needs to link against the android.test library,
         which is needed when building test cases. -->

    <application android:allowBackup="true"
                 android:autoRevokePermissions="disallowed">
        <uses-library android:name="android.test.runner" />
        <uses-library android:name="org.apache.http.legacy" android:required="false" />
    </application>
    <!--
    This declares that this application uses the instrumentation test runner targeting
    the package of com.android.bluetooth.  To run the tests use the command:
    "adb shell am instrument -w com.android.bluetooth.tests/android.test.InstrumentationTestRunner"
    -->
    <instrumentation android:name="androidx.test.runner.AndroidJUnitRunner"
                     android:targetPackage="com.android.bluetooth"
                     android:label="Tests for com.android.bluetooth"/>
</manifest>

