buildtools
out
third_party/
target/
Cargo.lock
tags
cscope.out
cscope.files
*.sw?
android/pandora/lib/
android/pandora/server/src/pandora/*.java
android/pandora/server/pandora/*.py
.gitignore
.idea/
android/pandora/pandora.iml
.vscode/
system/build/dpkg/*
setup.sh
