
[access]
	inheritFrom = Platform-Unrestricted-Projects
[project]
	description = Bug: 202329883
[access "refs/heads/main"]
	label-Autosubmit = +0..+1 group mdb/art-benchmark-service
	label-Code-Review = -1..+1 group mdb/art-benchmark-service
	label-Presubmit-Ready = +0..+1 group mdb/art-benchmark-service
	read = group mdb/art-benchmark-service
