<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.bluetooth" >

    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <uses-library android:name="android.test.runner" />
    </application>

    <instrumentation android:name="androidx.test.runner.AndroidJUnitRunner"
                     android:targetPackage="android.bluetooth"
                     android:label="Bluetooth Metrics Test"/>
</manifest>
